<!DOCTYPE html>
<html>
  <head>
    <title>Link-in-bio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <style>
      html {
        min-height: 100%;
      }

      body {
        min-height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        background: linear-gradient(180deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
        color: rgba(255, 255, 255, 1.0);
        font-family: "Raleway";
      }

      .avatar-image {
        width: 128px;
        height: 128px;
        object-fit: cover;
        border-radius: 128px;
      }

      .thumbnail {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        object-fit: cover;
      }

      a {
        color: rgba(255, 255, 255, 1.0);
        text-decoration: none;
      }

      .item {
        background-color: rgba(149, 123, 173, 0.5);
        border-radius: 200px;
        padding: 5px 53px 5px 5px;
        box-shadow: 2px 2px 10px 0px rgba(122, 32, 122, 0.25);
      }

      .main-container {
        max-width: 640px;
        margin: auto;
      }

      .image-row {
        margin-bottom: 20px;
        text-align: center;
      }

      .name-row {
        margin-bottom: 30px;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 24px;
        font-weight: 900;
      }

      .social-icons-row {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
      }

      .item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }

      .link-text {
        text-align: center;
        flex-grow: 1;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
